
/* @media screen and (max-width : 1550px) {
    
}
*/
@media screen and (max-width : 1400px) {
    .navbar__right-container{
        gap: 1rem;
    }
}
/*
@media screen and (max-width : 1200px) {
    
}
@media screen and (max-width : 1100px) {

} */


@media screen and (max-width : 992px) {
    .about-box {
        padding: 1rem;
    }
    .about-box__right{
        padding-left: 0.25rem;
        font-size: 5rem;
    }
    .landing__title{
        font-size: 27px;
    }
    .landing__subtitle{
        font-size: 12.5px;
    }
    .landing__status{
        width: 100%;
    }
    .landing__status-item{
        width: 33%;
    }
    .abou-box__subtitle{
        font-size: 1.4rem;
        line-height: 1.65rem;
    }
}
@media screen and (max-width : 768px) {
    .about-box__title{
        font-size: 1.6rem;
    }
    .abou-box__subtitle{
        font-size: 1.4rem;
        line-height: 1.4;
    }
    .about-us__main-row{
        gap: 1rem;
    }
    .section-header{
        padding: 20px 30px 20px 20px;
    }
    
}
@media screen and (max-width : 576px) {
    .single-title{
        font-size: 2.8rem;
    }
    .swiper course-box{
        max-width: 30.5rem;
        min-width: 30.5rem;
        height: 18rem;
    }
    .swiper .course-box__title{
        font-size: 1.6rem;
    }
    .swiper .course-box__teacher-stars img{
        width: 1.2rem;
    }
    .landing__title{
        font-size: 20px;
    }
    .landing__subtitle{
        font-size: 11px;
    }
    .landing__searchbox{
        width: 100%;
    }

    .lates-courses__header-title{
        font-size: 18px;
    }
    .lates-courses__header-text{
        font-size: 14px;
    }

    .lates-courses__header-button{
        padding: 5px 10px;
        font-size: 14px;
    }
    .landing__status{
        gap: 0;
    }
    /* .section-title::after{
        width: 100%;
    } */
}
@media screen and (max-width : 450px) {
    .about-us__main{
        gap: 1rem;
    }
    .about-us__main-row{
        flex-direction: column;
        align-items: center;
    }
    .about-box{
        width: 75%;
    }
}


@media screen and (max-width : 400px) {
    .section-header {
        padding: 20px 23px 20px 5px;
    }
    .section__header-btn {
        padding: 0.5rem 0.4rem;
    }
    .section__header-icon{
        margin-right: 0;
    }
    .about-box{
        width: 88%;
    }
    .lates-course__main .container{
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    course-box{
        min-width: 100%;
        max-width: 100%;
    }
    .about-us__header-subtitle{
        line-height: 2rem;
    }
    .lates-articles__main{
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media screen and (max-width : 345px) {
    
    .section__header-btn {
        padding: 0.4rem 0.2rem;
        font-size: 13px;
        
    }
    .section-title{
        font-size: 15px;
    }
    .lates-courses__header-text,
    .about-us__header-subtitle,
    .lates-courses__subtitle{
        font-size: 11px;
    }
}

/*Menu closer*/
