@import url(../../../css/fonts.css);
@import url(../../../css/variables.css);
@import url(../../../css/default.css);
@import url(../../../components/topbar/topbar.css);
@import url(../../../components/footer/footer.css);
@import url(../../../components/navbar/navbar.css);
@import url(../../../components/mobileNav/mbileNav.css);

:root {
    --primary-font: "IranSans";
    --primary-color: #2bce56;
    --white-color: #fff;
    --dark-color: var(--subtitle-color);
}
/* ============================== Reset Style ============================== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
}
*,
*:after,
*:before {
    outline: none;
    box-sizing: inherit;
}
a {
    text-decoration: none;
    transition: all 400ms ease;
    color: var(--dark-color);
}
a:hover {
    color: #1e83f0;
}
i {
    user-select: none;
}
body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
}
/* ============================== Reset Style ============================== */


/* ============================== Content Sidebar Style ============================== */
.content{
    margin-top: 4rem;
}
.content-main {
    margin: 3rem 0;
}
.sidebar__name {
    color: var(--dark-color);
    font-size: 1.7rem;
}
.sidebar__list {
    margin-top: 0.7rem;
}
.sidebar__link {
    display: block;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.4rem;
}
/* ============================== Content Sidebar Style ============================== */

/* ============================== Content Main Style ============================== */
.ticket {
    border-right: 2px solid #2bce56;
    padding-right: 3rem;
}
.ticket-header {
    border-bottom: 2px solid #2bce56;
    display: flex;
    justify-content: space-between;
}
.ticket-header__title {
    display: block;
    font-size: 1.4rem;
    color: var(--dark-color);
    font-weight: bold;
}
.ticket-header__link {
    display: block;
    margin: 2.5rem 0 1rem 0;
    background-color: #2bce56;
    color: var(--white-color);
    font-size: 1.3rem;
    border-radius: 3px;
    text-align: center;
    padding: 0.3rem 1rem;
    max-width: 12rem;
}
.ticket-header__link:hover {
    background-color: #2eb351;
    color: var(--white-color);
}
.ticket-form {
    margin: 2rem 0;
}
.ticket-form__label {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
}
.ticket-form__select,.ticket-form__input,.ticket-form__textarea {
    width: 100%;
    box-shadow: 0px 0px 6px 1px rgba(43, 206, 86, 0.5);
    border-radius: 3px;
    border: none;
    margin: 1rem 0 1rem 1.5rem;
    padding: 0.4rem 0.5rem 0.4rem 1rem;
    font-size: 1.4rem;
    background: var(--white-color);
    color: #292929;
}
.ticket-form__input::placeholder, .ticket-form__textarea::placeholder{
    color: #7d7e7f;
}
.ticket-form__option {
    font-size: 1.4rem;
}
.ticket-form__textarea {
    height: 30rem;
}
.ticket-form__file {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #00BFD6;
    background-color: rgba(0, 228, 253, 0.05);
    padding: 1.5rem 0;
}
.ticket-form__file-max {
    font-size: 1.3rem;
}
.ticket-form__file-format {
    font-size: 1.3rem;
    padding: 1rem 0;
}
.ticket-form__file-input {
}
.ticket-form__btn {
    border: none;
    border-radius: 3px;
    background-color: #2bce56;
    color: var(--white-color);
    margin: 1.5rem 0;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    transition: all 400ms ease;
}
.ticket-form__btn:hover {
    background-color: #3cbb5e;
}
.ticket-form__btn-icon {
    font-size: 1.5rem;
}
/* ============================== Content Main Style ============================== */

/* ============================== Footer Style ============================== */
.footer-widgets {
    background-color: #f0f2f7;
    border-radius: 1rem;
    padding: 4rem 3.5rem;
    margin-bottom: 5rem;
    position: relative;
}
.footer-widgets::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 50rem;
    height: 4rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    bottom: -1.5rem;
    z-index: -1;
}
.footer-widgets__title {
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
    position: relative;
}
.footer-widgets__title::before {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 0.7rem;
    opacity: 0.3;
    transform: rotate(45deg);
    right: 1rem;
}
.footer-widgets__text {
    color: #7d7e7f;
}
.footer-widgets__links {
    display: flex;
    flex-direction: column;
}
.footer-widgets__link {
    display: block;
    margin-bottom: 1rem;
}
.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f7;
    padding: 3rem 0;
}
.footer__copyright-text {
    color: var(--dark-color);
}
/* ============================== Footer Style ============================== */

/* ============================== Helper Class ============================== */
.title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
    transform: rotate(8deg);
}
.title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    height: 60%;
    background-color: rgba(43, 206, 86, 0.2);
}
.title {
    font-size: 2.3rem;
    color: #444446;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
}
/* ============================== Helper Class ============================== */

/* ============================== Slider Style ============================== */
.swiper-container {
    height: 36rem;
    cursor: grab;
    overflow: hidden;
}
.swiper-pagination {
    position: absolute;
    bottom: -4rem !important;
}
.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    transition: all 400ms ease;
    opacity: 1 !important;
    background: transparent;
    border: 2px solid var(--primary-color);
}
.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    transition: all 400ms ease;
    opacity: 1 !important;
    width: 35px !important;
    border-radius: 10px;
}
/* ============================== Slider Style ============================== */



.ticket-send__answer-box{
    width: 100% !important;
}
.ticket-send__answer-user-box{
    width: 100% !important;
}