@import url(../../../css/fonts.css);
@import url(../../../css/variables.css);
@import url(../../../css/default.css);
@import url(../../../components/topbar/topbar.css);
@import url(../../../components/footer/footer.css);
@import url(../../../components/navbar/navbar.css);
@import url(../../../components/mobileNav/mbileNav.css);

:root {
    --primary-font: "IranSans";
    --primary-color: #2bce56;
    --white-color: #fff;
    --dark-color: #464749;
}
/* ============================== Reset Style ============================== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
}
*,
*:after,
*:before {
    outline: none;
    box-sizing: inherit;
}
a {
    text-decoration: none;
    transition: all 400ms ease;
    color: var(--text-color);
}
a:hover {
    color: #1e83f0;
}
i {
    user-select: none;
}
body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
}
/* ============================== Reset Style ============================== */


.content{
    margin-top: 5rem;
}
/* ============================== Content Sidebar Style ============================== */
.content-main {
    margin: 3rem 0;
}
.sidebar__name {
    color: var(--text-color);
    font-size: 1.7rem;
}
.sidebar__list {
    margin-top: 0.7rem;
}
.sidebar__link {
    display: block;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.4rem;
}
/* ============================== Content Sidebar Style ============================== */

/* ============================== Content Main Style ============================== */
.edit {
    border-right: 2px solid #2bce56;
    padding-right: 3rem;
}
.edit__label {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem 0;
    color: var(--text-color);
}
.edit__input {
    width: 100%;
    border: none;
    border: 1px solid #2bce56;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    color: #464749;
}
.edit__input::placeholder{
    color: var(--dark-color);
}
.edit__help {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.edit__password {
    margin-top: 2rem;
}
.edit__password-title {
    border-bottom: 2px solid #2bce56;
    display: block;
}
.edit__btn {
    border: none;
    margin-top: 2rem;
    background-color: #2bce56;
    color: var(--white-color);
    border-radius: .3rem;
    font-size: 1.4rem;
    font-weight: bold;
    padding: .7rem 1rem;
    transition: all 400ms ease;
}
.edit__btn:hover {
    background-color: #33be58
}
/* ============================== Content Main Style ============================== */



/* ============================== Helper Class ============================== */
.title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
    transform: rotate(8deg);
}
.title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    height: 60%;
    background-color: rgba(43, 206, 86, 0.2);
}
.title {
    font-size: 2.3rem;
    color: #444446;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
}
/* ============================== Helper Class ============================== */

/* ============================== Slider Style ============================== */
.swiper-container {
    height: 36rem;
    cursor: grab;
    overflow: hidden;
}
.swiper-pagination {
    position: absolute;
    bottom: -4rem !important;
}
.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    transition: all 400ms ease;
    opacity: 1 !important;
    background: transparent;
    border: 2px solid var(--primary-color);
}
.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    transition: all 400ms ease;
    opacity: 1 !important;
    width: 35px !important;
    border-radius: 10px;
}
/* ============================== Slider Style ============================== */
